.about-view > section > img {
  float: left;
  height: 200px;
  margin-right: 1rem;
  top: 0;
}

.about-view blockquote {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 2rem;
}
