.about-view img {
  height: 200px;
}

.about-view .float-left {
  float: left;
  margin-right: 1rem;
}

.about-view .float-right {
  float: right;
  margin-left: 1rem;
}

.about-view div.image-pair {
  margin-right: 3rem;
}

.about-view img.rumi {
  margin-top: 2rem;
  height: 205px;
}

.about-view blockquote {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
}

.about-view blockquote::before {
  content: "\0201c"
}

.about-view blockquote::after {
  content: "\0201d"
}

.about-view ol.alphabet {
  list-style-type: lower-alpha;
}
