em-main > md-content {
  height: 100vh;
}

em-main > md-content > *,
em-main > md-content > .content > .sticky > md-toolbar {
  width: 80rem;
}

em-main > md-content > .content > .sticky {
  height: 64px;
}

em-main > md-content > .content > .sticky > .stick {
  position: fixed;
}
