em-main > md-content > .sticky > md-toolbar > .toolbar-root,
em-main > md-content > .view-root {
  width: 80rem;
}

em-main > md-content > .view-root {
  margin-bottom: 200px;
}

em-main > md-content > .sticky,
em-main > md-content > .title-container {
  width: 100%;
}

em-main > md-content > .title-container {
  margin: 2rem 0 2rem 4rem;
}

em-main > md-content > .title-container > img {
  height: 10rem;
}

/*em-main > md-content > *,
em-main > md-content > .sticky > md-toolbar {
  width: 80rem;
}*/

em-main > md-content {
  height: 100vh;
}

em-main > md-content > .sticky {
  height: 64px;
  min-height: 64px;
}

em-main > md-content > .sticky > .stick {
  position: fixed;
  top: 0;
}

em-main > md-content > .sticky .logo {
  position: absolute;
  left: 0;
  top: 8px;
  height: 64px;
  margin-left: 1rem;
  overflow: hidden;

  width: 0;
  transition: width .2s;
}

em-main > md-content > .sticky > .stick .logo {
  width: 200px;
  transition: width .2s;
}

em-main .logo img {
  height: 48px;
}
